@media (max-width: 768px){
    body{
        padding: 30px 30px 25px 10px;
        background-image: url(../img/background.png);
        background-color: #0006;
        background-blend-mode: darken;
    }

    .link-container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 65px;
        font-size: 2.5rem;
        background-color: #000;
        opacity: 0;
        transform: translateX(100%);
        z-index: 1;
        transition: all 1s;
    }

    .menu-burguer-container.active ~ .link-container{
        opacity: 1;
        transform: translateX(0%);
    }

    .menu-burguer-container{
        display: flex;
    }


    .content-container{
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 50px;
    }

    .content-container h1{
        font-size: 4rem;
    }

    .content-container h1 span{
        font-size: 1.5rem;
        transform: translateY(15px);
    }

    .movie-title{
        font-size: 1.45rem;
        transform: translateY(5px);
    }

    .movie-text{
        display: none;
    }  

    .movie-button{
        margin-top: 40px;
    }

    .social-container{
        display: none;
    }

}




html, body{
    position: relative;
    overflow: hidden;
}
